
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypotheses

# Data files (Save massive space)
*.csv
datos_*.csv
models/ARCHIVE/
tensorboard_logs/
reports/
bot_image.tar
