version: '3.8'

services:
  trader_btc:
    build: .
    image: antigravity-bot:latest
    container_name: trader_btc
    restart: unless-stopped
    volumes:
      - ./models:/app/models
      - ./run_live_trader.py:/app/run_live_trader.py
      - ./config:/app/config
      - ./datos_btc_15m_binance.csv:/app/datos_btc_15m_binance.csv
    command: python run_live_trader.py BTC
    deploy:
      resources:
        limits:
          memory: 1G

  trader_eth:
    image: antigravity-bot:latest
    container_name: trader_eth
    restart: unless-stopped
    volumes:
      - ./models:/app/models
      - ./run_live_trader.py:/app/run_live_trader.py
      - ./config:/app/config
      - ./datos_eth_15m_binance.csv:/app/datos_eth_15m_binance.csv
    command: python run_live_trader.py ETH
    deploy:
      resources:
        limits:
          memory: 1G

  trader_sol:
    image: antigravity-bot:latest
    container_name: trader_sol
    restart: unless-stopped
    volumes:
      - ./models:/app/models
      - ./run_live_trader.py:/app/run_live_trader.py
      - ./config:/app/config
      - ./datos_sol_15m_binance.csv:/app/datos_sol_15m_binance.csv
    command: python run_live_trader.py SOL
    deploy:
      resources:
        limits:
          memory: 1G

  tensorboard:
    image: tensorflow/tensorflow:latest
    container_name: antigravity_board
    restart: unless-stopped
    command: tensorboard --logdir /logs --host 0.0.0.0
    volumes:
      - ./tensorboard_logs:/logs
    ports:
      - "6006:6006"
